@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@font-face {
    font-family: 'municipal';
    src: url('fonts/Municipal.ttf') format('truetype');
    font-style: normal;
}
* {
    padding: 0px;
    margin: 0px;
    
}

:root {
    --cor0: #EA6C01;
    --cor1: #B86925;
    --cor2: #855A35;
    --cor3: #524031;
    --cor4: #332E29;

    --font0: 'Arvo', serif;
    --font1: 'Fira Sans', sans-serif;
}

.externo::after {
    content: '\00A0\1F517';
}

body {
   width: 100%;
}
header {
    background-color: var(--cor1);
    border-bottom: 1px solid var(--cor4);
    font-family: var(--font0);

}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.nome {
    color: white;
    font-size: 1.3rem;
    margin-top: 5px;
}
.nome h1 {
    text-align: center;
}
.menu {
    display: flex;
    align-items: center;
}
.menu > ul {
    display: flex;
    justify-content: center;
    list-style: none;
} 
.menu a {
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    transition: .5s ease;
}
.menu a:hover {
transform: scale(1.1);
}
.nav-item {
    margin: 0 15px

}
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
}
.acesse-button {
    display: flex;
    align-items: center;
    transition: .5s ease;
}
.acesse-button a:hover {
    transform: scale(1.1);
}
 #button {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    background-color: var(--cor0);
    padding: 15px;
    border-radius: 10px;
    font-weight: 500;
  
}

.cabeçalho > p {
    margin-left: 20px;
    font-size: 1.2em;
    font-family: var(--font0);
    font-weight: bold;
}
.mobile-menu-icon {
    display: none;
    align-items: center;
    justify-content: center;
}
.mobile-menu {
    display: none;
}

main {
}
 .imgfundo {
    display: flex;
    min-height:calc(100vh - 100px);
    align-items: center;
    background: url('img/beautiful-shot-modern-house-kitchen-shelves-drawers.jpg') no-repeat;
    background-size: cover;
    background-position: center;
   font-family: var(--font1);
}
.redor {
    padding: 20px;
    background-color: var(--cor4)
}

.principal {
    font-family: var(--font1);
    padding: 20px;
    Letter-spacing:2px;
    color: white;
    bottom: 100px;
    position: relative;
}
.principal h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 15px;
}
.principal p {
    width: 350px;
    font-size: 1.5rem;
    color: #b3b3ae;
    font-weight: bold;
    padding: 5px;
}


@media screen and (max-width: 730px) {
    body {
        width: 100%;
    }
    .navbar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    } 
    .acesse-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
        
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;

    }
    .mobile-menu .acesse-button {
        display: block;
        padding: 1rem 2rem;
        text-align: center;
        
    }
    .mobile-menu .acesse-button .button {
        width: 100%;
        
    }
    .open {
        display: block;
    }
    .imgfundo {
        background: url('img/empty-modern-room-with-furniture.jpg') no-repeat;
        background-size: cover;
    }
}



